h1 {
  text-align: center;
}
.col.graphs {
  margin: 3vh;
}

h6 {
  text-align: center;
}

.filterCols {
  margin: 5px;
}

#dropdown {
  size: fit-content;
}

#toggleBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

#rowonegraph{
  margin-left: 7%;
  margin-top: 2%;
}

#rowtwograph{
  margin-top: 2%;
}
/* #filterRow {
    justify-content: center;
    align-items: center; 
} */

.screenContainer {
  background-color: white;
  color: black;
  width: 100%;
  height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
}
.sideBar {
  position: relative;
  width: 13% !important;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.navContainer {
  display: inline-block;
  width: 100%;
  height: 6%;
  padding: 0 !important;
  margin: 0 !important;
}

.mainContainer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 105% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.navBar {
  height: 100%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin: 0 !important;
}

.screen {
  display: flex;
  width: 86% !important;
  height: 100%;
  padding: 5px !important;
  margin: 0 !important;
}

#dashboard {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}