.filterBar {
    display: grid;
    justify-content: top;
    width: 100%;
    height: 100%;
}
.dayInput {
    display: inline-block;
    /* margin-top: 60px; */
}
.spacer {
    height: 20px;
}

#test {
    height: 100px;
    width: 100px;
}

#filter {
    align-items: top;
    justify-content: top;
    padding-top: 20px;
}

#cardsCol {
   padding-top: 20px;
    
}

#editModal {
    height: fit-content !important;
    width: 100% !important;
}

#modalContainer {
    display: inline-block;
    width: 800px;
    height: 600px;
    justify-content: center;
    padding: 20px;
}

#modalCols {
    display: inline-block;
    /* width: 16.6% !important; */
    /* height: 100%; */
    padding: 40px;
    /* margin: 20px; */
}

#modalRows {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

#sdropdown {
    display: inline-block;
}

#adropdown {
    display: inline-block;
}

#typeText {
    width: 100px !important;
}

#timeCol {
    display: inline-block;
    padding: 40px;
    padding-right: 0px;
    width: 180px !important;
}

