.filterBar {
    display: grid;
    justify-content: top;
    width: 100%;
    height: 100%;
}

.modal-content{
    width: 200%;

}

.dayInput {
    display: inline-block;
    /* margin-top: 60px; */
}
.spacer {
    height: 20px;
}

#test {
    height: 100px;
    width: 100px;
}

#filter {
    align-items: top;
    justify-content: top;
    padding-top: 20px;
}

#cardsCol {
   padding-top: 20px;
    
}

#editModal {
    height: fit-content !important;
    width: 100% !important;
}

#modalContainer {
    display: inline-block;
    width: 800px;
    height: 600px;
    justify-content: center;
    padding: 20px;
}

#col5 {
    display: inline-block;
    margin-top: 5%;
}

#col1{
    display: inline-block;
    margin-top: 3%;
}

#col2{
    display: inline-block;
    margin-top: 3%;
}

#col3{
    display: inline-block;
    margin-top: 3%;
}

#col4{
    display: inline-block;
    margin-top: 5%;
}

#col6{
    display: inline-block;
    margin-top: 5%;
    
}

#col7{
    display: inline-block;
    margin-top: 5%;
    
}

#col8{
    display: inline-block;
    margin-top: 5%;
    
}

#col9{
    display: inline-block;
    margin-top: 5%;
    
}

#col10{
    display: inline-block;
    margin-top: 5%;
    
}

#col11{
    display: inline-block;
    margin-top: 5%;
    
}

#col12{
    display: inline-block;
    margin-top: 5%;
    
}

#modalRows {
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

#typeText {
    width: 100px !important;
}

#timeCol {
    display: inline-block;
    padding-right: 0px;
    width: 180px !important;
    margin-top: 3%;
}

