.safety{
    width: fill;
    height: fill;
    justify-content: center;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.screen{
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
.areaNum{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 20px;
    height: 50px;
    background-color: lightgrey;
}