.trackingForm{
    width: fill;
    height: fill;
    justify-content: center;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.screen{
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.addBtn {
    margin-left: 20px;
}

.partNum{
    display: inline-flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    height: 50px;
    background-color: lightgrey;
}

.scrapForm {
    display: inline-block;
}

.plusIcon {
    padding-right: 10px;
    color: green;
}

.plusBtn {
    margin-left: 20px;
}

