.trackingForm{
    width: stretch;
    height: stretch;
    justify-content: center;
}
h3{
    margin: 10px;
}

.screen{
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.addBtn {
    margin-left: 20px;
}

.partNum{
    display: inline-flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
    height: 50px;
    width: 180px;
    background-color: lightgrey;
}

.scrapForm {
    display: inline-block;
    margin-left: 10px;
}

.plusIcon {
    padding-right: 10px;
    color: green;
}

.plusBtn {
    margin-left: 20px;
}

.form-group{
    width: 200px;
    margin: 10px;
}

.alert{
    width: 200px;
}
.comment-section{
    width:300px;
    margin: 10px;
}
