.trackingForm{
    width: stretch;
    height: stretch;
    justify-content: center;
}
h3{
    margin: 10px;
}

.tracking{
    width: max-content;
    height: inherit;
}
.screen{
    justify-content: flex-start;
    display: inline-flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.addBtn {
    margin-left: 20px;
}

.partNum{
    display: inline-flex;
    justify-content: center;
    margin-left: 10px;
    height: 50px;
    width: 180px;
    background-color: lightgrey;
}

.scrapForm {
    display: inline-block;
    margin-left: 10px;
    margin-top: 3%;
}

.plusIcon {
    padding-right: 10px;
    color: green;
}

.plusBtn {
    margin-left: 20px;
}

.form-group{
    width: 200px;
    margin: 10px;
    display: inline-block;
}

.alert{
    width: 200px;
}

.comment-section{
    width: 500px;
    margin: 10px;
}

.sectionone{
    margin-top: 2%;
}

.rowone{
    margin-top: 1%;
}

.rowtwo{
    margin-top: 1%;
}
