/* * {
  background-color: black;
  color: white;
} */

.screenContainer {
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
}
.sideBar {
  position: relative;
  width: 12%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.navContainer {
  width: 100%;
  height: 6%;
  padding: 0 !important;
  margin: 0 !important;
}

.screenContainer {
  padding: 0 !important;
  margin: 0 !important;
}

.mainContainer {
  position: relative;
  width: 100%;
  height: 94%;
  padding: 0 !important;
  margin: 0 !important;
}

.navBar {
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.screen {
  width: 88%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

#Test {
  width: 100px;
  height: 100px;
}